<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Calculate Salary List</title>
        <meta charset="UTF-8">        
        <link th:href="@{/main.css}" type="text/css" rel="stylesheet" />
        <script th:src="@{/jquery-3.4.1.min.js}"></script>               
    </head>
    <body>

        <div th:insert="menu"></div>

        <div class="main">
            <div th:insert="header"></div>

            <table  border="1" width="90%" align="center" cellpadding="5">
            <tr>
                <td style="font-size: 20px; font-weight: bold" colspan="9">Calculate Salary List</td>
            </tr>
            <tr>
                <th>SR</th>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Grade</th>
                <th>Basic Salary </th>
                <th>House Rent(20%)</th>
                <th>Med. Allowance(15%)</th>
                <th>Total Salary</th>
                <th>Account No</th>
            </tr>    
            <tr th:each="inst,itr : ${empList}">
                <td th:text="${itr.count}">SR</td>
                <td th:text="${inst.empId}">Employee Id</td>
                <td th:text="${inst.empName}">Employee Name</td>
                <td th:text="${inst.empGrade}">Employee Grade</td>
                <td th:text="${inst.basicSalary}">Basic Salary</td>
                <td th:text="${inst.houseRent}">House Rent(20%)</td>
                <td th:text="${inst.medAllowance}">Med. Allowance(15%)</td>
                <td th:text="${inst.totalSalary}">Total Salary</td>
                <td th:text="${inst.accountId}">Account No</td>
            </tr> 
        </table>
        </div>
    </body>
</html>
