<div class="sidenav">
    <div>
        <a  th:href="@{/employee-form}" style="padding-bottom: 0; padding-top:0 ; margin-left: 12px">
            <img th:src="@{/logo.png}" style="height: 80px;width: 80px"/>
        </a>  
        <a style="font-size: 12px; margin-left: 0; padding-top: 0" th:href="@{/employee-form}"></a>
    </div>
    <div class="mheader">
        Bank & Branch
    </div>     
    <a th:href="@{/bank}">Add Bank</a>
    <a th:href="@{/branch}">Add Branch</a>
    <div class="mheader">
        Employee & Account
    </div>
    <a th:href="@{/account-form}" >Add Account</a>
    <a th:href="@{/employee-form}">Add Employee</a>
    <div class="mheader">
        Grade Wise Salary
    </div>
    <a th:href="@{/grade-salary}" >Grade Salary </a>
    <div class="mheader">
        Company Details
    </div>
    <a th:href="@{/main-account-form}" >Company Account</a>
    <a th:href="@{/calculate-salary-list}" >Calculate Salary</a>
    <a th:href="@{/transfer-salary}">Transfer Salary</a>
    <a th:href="@{/history-list}">Transaction History</a>
    <a th:href="@{/salary-sheet}">Salary Sheet</a>
    <a th:href="@{/paid-remaining-list}">Paid ,Rem. Balance</a>

</div>