<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Paid & Remaining balance List</title>
        <meta charset="UTF-8">        
        <link th:href="@{/main.css}" type="text/css" rel="stylesheet" />
        <script th:src="@{/jquery-3.4.1.min.js}"></script>               
    </head>
    <body>

        <div th:insert="menu"></div>

        <div class="main">
            <div th:insert="header"></div>

            <table  border="1" width="90%" align="center" cellpadding="5">
            <tr>
                <td style="font-size: 20px ;text-align: center; font-weight: bold" colspan="9">Total paid salary and remaining balance of the company account</td>
            </tr>
                <tr>
                    <td style="font-size: 15px; text-align: center" colspan="1">Total Company Remaining Balance </td>
                    <td style="font-size: 15px;  text-align: center" colspan="1">Total Paid Amount</td>
                </tr>
            <tr>
                <!--<th>SR</th>-->
                <th>Remaining Balance</th>
                <th>Paid Amount</th>
            </tr>    
            <tr th:each="inst,itr : ${paidList}">
                <!--<td style="text-align: center" th:text="${itr.count}">SR</td>-->
                <td style="text-align: center" th:text="${inst.currentBalance}">Current Balance</td>
                <td style="text-align: center" th:text="${inst.transferAmt}">Transfer Amount</td>
            </tr> 
        </table>
        </div>
    </body>
</html>
